
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Sheppards&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yesteryear&display=swap');

html {
     scroll-behavior: smooth; 
    }




body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: palevioletred;
    font-family: "Montserrat", sans-serif;
}




.Nav1{
    position:sticky;
    display: flex;
justify-content: space-between;
top:0;
align-items: center;
padding:10px 50px;
background-color: #fff;
color:#333;
z-index:1000;

}

.Nav1 ul{
    display: flex;
    gap:20px;
    list-style:none;
}

.Nav1 a{
    text-decoration: none;
    color:inherit;
    font-weight:600px;
}

.Section1{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 123, 10);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:30px;
    scroll-margin-top: 70px;

}

.skill-card{
border-radius: 12px;
background-color: plum;
padding:20px;
box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
min-width:200px;
}

.skill-card ul{
    list-style: none;
    padding:0px;
}

.Section2{
    padding:80px 20px;
    background-color: #fff;
    text-align: center;
    scroll-margin-top: 70px;

}

.projects-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:30px;
    padding:20px;
    max-width:1100px;
    margin:0 auto;
}

.project-card{
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border:1px solid #ddd;
    transition:transform 0.3s ease;

}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.view-btn{
    display:inline-block;
    margin-top:15px;
    color:palevioletred;
    text-decoration: none;
    font-weight: bold;
}

.footer1{
    background-color: #2c3e50;
    color:white;
    padding:50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.footer1 a{
    color:#f57b0a;
    text-decoration: none;
}

.copyright{
    font-size: 0.8rem;
    margin-top:20px;
    opacity:0.7;
}

.hire-btn{
    color:orange;
    font-weight: bold;
    padding:12px 12px;
    border-radius: 4px;
    background-color: white;
    border: solid;
}

.hire-btn:hover{
    background-color: orangered;
    transition: all 3s ease-in;
}